@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Custom colors /
  --color-brand-900: #31582B;
  --color-brand-600: #B5D9B0;
  --color-brand-300: #B5D9B080; / 50% opacity /
  --color-brand-100: #B5D9B04D; / 30% opacity /
  --color-danger: #e3342f;

  / Optional brand scale */
  --color-arena_iconos: #EFDAAC;
  --color-verde_sombra: #3C8527;
  --color-grisclaro_fuente: #8B8A8A;
  --color-grisoscuro_fondotarj: #6B6562;
  --color-grisoscuro_fondo: #171615;
  --color-morado_acentos: #E833C2;

  --font-titulo: 'Fuente-mc', sans-serif;
  --font-texto: 'Noto-sans', sans-serif;
}

/* 
ESTILOS PREDETERMINADOS 
Aqui usando id algo de css se coloca el codigo tailwind que se aplicara a todos los elementos que coincidan
para asi evitar tener que duplicar varias veces el mismo codigo en componentes similares 
como los botones
*/

h1 {
  @apply font-titulo text-white
}

body {
  @apply font-texto text-grisclaro_fuente bg-grisoscuro_fondo;
}

button.cancelar {
  @apply text-white border-2 border-morado_acentos p-1 rounded-2xl hover:scale-110 duration-300;
}

button.confirmar {
  @apply text-white border-2 bg-morado_acentos border-morado_acentos p-1 rounded-2xl hover:scale-110 duration-300;
}

@font-face {
  font-family: 'Noto-sans';
  src: url('/fonts/Noto-sans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fuente-mc';
  src: url('/fonts/Minecraftedit.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/*

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

*/
